# django
DJANGO_SECRET_KEY=<SECRET_KEY>
DEBUG=1

# telegram bot
BOT_LINK=https://t.me/<BOT_NAME>
BOT_TOKEN=<BOT_TOKEN_FROM_BOTFATHER>
BOT_AUTH_TOKEN=<AUTH_TOKEN_FOR_API>

# flower
FLOWER_USER=admin
FLOWER_PASSWORD=admin

# celery & redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# other
MY_TELEGRAM_ID=<YOUR_TELEGRAM_ID/SUPPORT_GROUP_TELEGRAM_ID>
TELEGRAM_TIMEOUT=5
TRIBUTE_API_KEY=<TRIBUTE_API_KEY>
VDS_REQUEST_TIMEOUT=10
