version: '3.8'

services:
  django:
    build: .
    volumes:
      - static_volume:/app/static
    environment:
      - DEBUG=0
    env_file:
      - .env
    expose:
      - 8000

  nginx:
    build: ./nginx
    volumes:
      - static_volume:/static:ro
      - ./ssl:/etc/nginx/ssl:ro
    ports:
      - "80:80"
      - "443:443"

volumes:
  static_volume: