services:
  django:
    build: .
    volumes:
      - static_volume:/app/static
      - ./data:/app/data
    env_file:
      - .env
    expose:
      - 8000

  nginx:
    build: ./nginx
    volumes:
      - static_volume:/static:ro
      - ./certbot/live/beatvault.ru:/etc/nginx/ssl:ro
    ports:
      - "80:80"
      - "443:443"

volumes:
  static_volume: