services:
  django:
    build: .
    entrypoint: ["./entrypoint.sh"]
    volumes:
      - static_volume:/app/static
      - ./data:/app/data
    env_file:
      - .env
    expose:
      - 8000

  nginx:
    build: ./nginx
    volumes:
      - static_volume:/static:ro
      - ./certbot/conf:/etc/nginx/ssl:ro  # Изменено с ./certbot/live/beatvault.ru
      - ./certbot/www:/var/www/certbot:ro  # Добавлено для проверки доменов
    ports:
      - "80:80"
      - "443:443"

  redis:
    image: redis:7-alpine
    restart: unless-stopped

  celery-worker:
    build: .
    command: celery -A config worker --loglevel=info
    volumes:
      - ./data:/app/data
    depends_on:
      - redis
    env_file:
      - .env
    restart: unless-stopped

  celery-beat:
    build: .
    command: celery -A config beat --loglevel=info
    volumes:
      - ./data:/app/data
    depends_on:
      - redis
      - celery-worker
    env_file:
      - .env
    restart: unless-stopped

  flower:
    build: .
    command: celery -A config flower --port=5555 --basic_auth=${FLOWER_USER}:${FLOWER_PASSWORD}
    expose:
      - 5555
    depends_on:
      - redis
      - celery-worker
      - celery-beat
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./data:/app/data

  bot:
    build:
      context: bot
      dockerfile: Dockerfile
    container_name: telegram-bot
    env_file:
      - ./bot/.env
    restart: unless-stopped

volumes:
  static_volume: